<%  provide(:title, 'About') %>

<h1>About Us</h1>
<div class="row large-8 large-centered columns">
<p>
	This is a workout and bodystatistics logbook to track your bodycomposition and your strength progression in the gym. It was created out of a need for easy tracking and being able to graphically display statistical data about progression in strength and diet. 
</p>
<p>If you have any questions or suggestions about this application feel free to <%= link_to "drop us a line", contact_path %>. All feedback and questions are greatly appreciated. This site is dedicated to providing its users with the tools they would love to use so don't hesitate to comment on features or improvements you would like to see.</p>
</div>