<% provide(:title, 'Help') %>

<div class="large-6 large-centered columns">
	<div class="center">
		<h1>Help</h1>
		<h2>FAQ</h2>
	</div>
		<br>
		 <ul>
		 	<li>
		 		<h3>How do I edit my stats or profile?</h3>
				<p> You can edit your statistics/results by clicking on them right in the results table. An input box will appear where you can fill in a new value. Just click elsewhere on the screen or hit enter to submit the new value! You can edit your profile information using the same method.</p>	
		 	</li>
		 	<li>
		 		<h3>Where can I update my account?</h3> 
		 		<p>
		 			You can access and update your account settings by pressing the link "settings" in the dropdown menu "Account" in the top bar. Or simply click <%= link_to "here :)", edit_user_path(current_user) %>
		 		</p>
		 	</li>
		 	<li>
		 		<h3>How is my BRM and caloric need calculated?</h3>
		 		<p>We use the harris benedict formula to calculate your BRM and maintenance caloric need. You can choose to use a Katch Mcardle formula instead though please be aware that this method requires a bodyfat percentage measure to provide adequate measurements. You can select your prefered calculation method in your user profile under the heading 'Settings'. The formula is based on your age, height, weight, gender and activity level. The calculator is no absolute measurement and individuals will vary in their maintenance needs. You will need to make your own adjustments based on your weight loss or gain rate and caloric intake.</p>
		 	</li>
		 	<li> 
		 		<h3>What does activity level mean?</h3>
		 		<p>Activity level is needed to determine your daily caloric maintenance. The activity level is only an estimate. It's advised that you take a conservative approach first and see what happens. For example say you work out maybe once a week and are sedentary the rest of the time, then your maintenance will probably be much closer to the sedentary activity level than the 'lightly active' level. </p>
		 	</li>
		 	<li>
		 		<h3>How is my strength level calculated?</h3>
		 		<p>We use the Brzycki Formula to calculate your one-rep maximal lift strength but you can select your own calculation method in your user profile. However this method will produce reasonably accurate estimations for repranges up to 10-reps per set. Above this reprange we will not apply the formula and you will not see the results on the chart.</p>
		 	</li>
		 	<li>
				<h3>Didn't find your answer here?</h3>
				<p>Please contact us <%= link_to "here", contact_path %> and we will respond to your question as soon as possible!</p>
		 	</li>
		 </ul>	
		</p>
</div>