<% provide(:title, 'Help') %>

<div class="center">
	<h1>Help</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, nihil, illo, sint quas laboriosam labore ipsa exercitationem facere aliquam expedita placeat repudiandae dolores molestiae minus dolore aperiam atque voluptatem inventore quod quia quasi quae aliquid voluptatibus eligendi quibusdam doloribus beatae. Aut, sapiente, ullam, dolorum provident aliquid deserunt accusantium unde fugiat sequi reprehenderit quibusdam qui cupiditate assumenda sunt eaque laborum non nemo quae consequuntur ipsum asperiores earum in dolores cumque ea. Vel, modi, culpa temporibus doloribus sed ut omnis qui quia architecto quae. Ullam, totam, debitis, rem repellat expedita facere veritatis dolorum in error ex eum nesciunt eos placeat consequuntur aliquid!</p>

</div>