<div class="center">

	<h1>Logbook App</h1>

	<h2>Welcome to the workout logbook application. 
	Please register to start logging your workouts, progress and results!</h2>

	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores, earum possimus ea commodi aliquid dolore quisquam sapiente atque sequi eveniet minus ducimus mollitia magni quaerat consequuntur doloribus tempore eum ipsam soluta odio omnis doloremque saepe hic dignissimos! Iste, sed temporibus fuga odit atque ducimus repellat autem sapiente dolorem mollitia quasi placeat quidem nemo impedit consequuntur non ut id assumenda. Consectetur, dolorem ullam nemo sit eaque corporis ab quos maxime dolorum natus esse porro obcaecati voluptatibus magnam aliquam aliquid repudiandae quia quisquam est facilis. Blanditiis, possimus nesciunt expedita incidunt numquam voluptatibus molestias non laboriosam aut esse! Tenetur, deserunt sint odit iure mollitia officiis aspernatur sapiente consectetur ipsam quasi placeat repellat facilis debitis numquam laborum fugiat eveniet ut. Doloremque, magnam, ut, iste nesciunt delectus eaque culpa consequuntur sequi neque minima adipisci eos. Optio facere quibusdam fugiat quae rerum voluptatibus rem veniam reiciendis incidunt ullam! Perspiciatis, officiis alias optio tenetur debitis maxime cupiditate. Quidem, enim, veritatis est dolorem quas harum rerum beatae provident cupiditate voluptas repellat maxime quam nihil possimus inventore. Eaque, fugiat, laborum saepe repellat maxime vel eum eius at soluta quibusdam pariatur hic ut tempore! Molestias, minus, animi, cumque, iste culpa esse odio voluptatem porro voluptatum consequuntur cum itaque explicabo!</p>
	
	<%= link_to "Sign up now!", signup_path, class: "button [secondary success alert]" %>
	<p>Already a member? <%= link_to "Sign in!", signin_path %></p>

</div>