<div class="center">

	<h1>Logbook App</h1>

	<h2>Welcome to the workout logbook application. 
	Please register to start logging your workouts, progress and results!</h2>

</div>
	<br>
	<div class="large-8 large-centered columns">
	<p>
	This is a workout and bodystatistics logbook to track your bodycomposition and your strength progression in the gym. It was created out of a need for easy tracking and being able to graphically display statistical data about progression in strength and diet. <p>

	<p>If you have any questions or suggestions about this application feel free to <%= link_to "drop us a line", contact_path %>. All feedback and questions are greatly appreciated. This site is dedicated to providing its users with the tools they would love to use so don't hesitate to comment on features or improvements you would like to see.</p>
	</div>

<div class="center">
	<%= link_to "Sign up now!", signup_path, class: "button [secondary success alert]" %>
	<p>Already a member? <%= link_to "Sign in!", signin_path %></p>

</div>