
	<h3><%= e.name %></h3>
	
	<% if e.comment %>
		<%= e.comment %>
	<% end %>
	
	<% if e.strength && e.strength != 0  %>
		<div style="color:red">PR: <%= number_with_precision(e.strength, precision:1) %></div>
			
	<% end %>
	<br>
	<% e.segments.each do |s| %>
	<ul>
		<li>
			<%= render 'segments_table', s: s %>
		</li>
	</ul>
	<% end %>
