<% provide(:title, "Workouts") %>

<h1>Workout index</h1>

<div class="large-12 large-centered columns">
	<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel2-1">Table</a></dd>
		  <dd><a href="#panel2-2">Chart</a></dd>
		</dl>
	</div>
	<div class="tabs-content">
	  <div class="content active" id="panel2-1">
	  	 <%= render partial: "table" %>
	  </div>
	  <div class="content" id="panel2-2">
	   	<%= render partial: "chart" %>
		</div>
	</div>

</div>
