= provide(:title, 'Sign up')

%h1 Sign up
%br
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, debitis, odit, iure veritatis libero distinctio ea fuga modi repudiandae itaque aliquid sequi fugit iste perspiciatis a rerum laborum ipsa quaerat quo pariatur vero nisi maxime. Quos, voluptate, repellat, distinctio enim provident aliquid illo excepturi libero ullam nam esse deserunt rem beatae magnam ratione vero fuga sapiente in itaque unde aut aspernatur dolorem ad omnis voluptatem veniam corporis laboriosam expedita fugit. Laboriosam, ab, temporibus eveniet necessitatibus dolores unde omnis nulla suscipit enim voluptates accusantium in dolorum pariatur dolorem animi eaque cum! Aliquid, placeat harum magni asperiores nesciunt quia laborum expedita rem.
