<% provide(:title, 'Results') %>

<h1>Results</h1>
<br>


<div class="large-8 large-centered columns">
	<div class="row">
		<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel2-1">Charts</a></dd>
		  <dd><a href="#panel2-2">Workouts Table</a></dd>
		  <dd><a href="#panel2-3">Bodystats Table</a></dd>
			<dd><a href="#panel2-4">Calendar</a></dd>
		</dl>
</div>

<div class="large-10 large-centered columns">
</div>
	<div class="tabs-content">
	<div class="content active" id="panel2-1">
		<%= render partial: "charts" %>
		 
	</div>
	<div class="content" id="panel2-2">
		<%= render partial: "workoutstable" %>
	</div>
	<div class="content" id="panel2-3">
		<%= render partial: "bodylogstable" %>
	</div>
	<div class="content" id="panel2-4">
		<%= render partial: "calendar" %>
	</div>
</div>
