<% provide(:title, 'Body Log') %>

<h1>Results</h1>
<br>


<div class="large-8 large-centered columns">
	<div class="row">
		<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel2-1">Table</a></dd>
		  <dd><a href="#panel2-2">Chart</a></dd>
		  <dd><a href="#panel2-3">Calendar</a></dd>
		</dl>
	</div>
	<div class="tabs-content">
	  <div class="content active" id="panel2-1">
		 <p><%= render partial: "bodylogtable" %></p>
	  </div>
	  <div class="content" id="panel2-2">
	  	<%= render partial: "chart" %>
	  </div>
	  <div class="content" id="panel2-3">
	    <p>	<%= render partial: "bodylogcalendar" %></p>
	</div>


</div>



